<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.com">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Edit Student</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<!--Navbar-->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">UniMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/students">Student List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/teachers">Teacher List</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--Navbar-->

<!--Form-->
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center text-dark">Edit Student</h4>

          <form th:action="@{/updateStudent}" method="post" th:object="${student}">
            <input type="hidden" th:value="${student.id}" name="id">

            <div class="form-group">
              <label>Edit Full Name</label>
              <input type="text" class="form-control" name="name" th:value="${student.name}">
            </div>

            <div class="form-group">
              <label>Edit Email</label>
              <input type="email" class="form-control" name="email" th:value="${student.email}">
            </div>

            <div class="form-group">
              <label>Edit Profession</label>
              <input type="text" class="form-control" name="profession" th:value="${student.profession}">
            </div>

            <button class="btn btn-primary btn-block">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Form-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
