<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.com">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teachers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">UniMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/students">Student List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/teachers">Teacher List</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="hint">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<!--Navbar-->
<h1 style="text-align: center">Teacher List</h1>

<div th:if=${session.msg}>
    <div class="alert alert-success" role="alert" th:text="${session.msg}"></div>
    <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
</div>
<!--Table-->
<div class="container">
        <a type="button" class="btn btn-info"
                style="background: #9BA3EB; border-color: #ede9eb;"
                onmouseover="this.style.background='#646FD4';"
                onmouseout="this.style.background='#9BA3EB';" href="/new-teacher">New Teacher</a>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Subject</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher: ${teachers}">
            <th scope="row" th:text="${teacher.id}"></th>
            <td th:text="${teacher.name}"></td>
            <td th:text="${teacher.email}"></td>
            <td th:text="${teacher.subject}"></td>
            <td>
                <a class="btn btn-sm btn-primary" th:href="@{teacher/edit/{id}(id=${teacher.id})}">Edit</a>
                <a class="btn btn-sm btn-danger" th:href="@{teacher/delete/{id}(id=${teacher.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--Table-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
